<div class="app-header" style="background-color: {{ appalti.titlecolor }}">
  <div class="tipologia">
      <h3>{{ title }}</h3>
  </div>
</div>

<style type="text/css">
.tipologia h3 {
  font-weight: 200;
  color: #fff;
}
.tipologia {
  align-self: flex-end;
  margin-left: .3em
}
.app-header {
  display: flex;
  width: 100%;
}
/*.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color:#fff;
    z-index: 1000;
    height: 90px;
    overflow: hidden;

    line-height:160px;
}


.header h1 {
    color: white;
    margin-left: .3em;
  }
.header h1
{
    font-size:30px;
    bottom: 0;
    left: 0;
    font-weight:normal;
}*/
</style>
